/node_modules
/contracts/artifacts
/contracts/RoyaltyProtocol/artifacts
/contracts/TransferHelper/artifacts
.vscode/cody.json
contracts/ERC20Test/artifacts
contracts/Proxy/artifacts
.deploys
.vscode/cody.json